* {
    bg-col:  #292D3E;
    bg-col-light: #292D3E;
    border-col: #292D3E;
    selected-col: #292D3E;
    blue: #82b1ff;
    fg-col: #bfc7d5;
    fg-col2: #ff5370;
    grey: #3E4452;
    width: 600;
}

